body{height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0%;
    background: linear-gradient(to top right, rgba(37, 126, 177, 1),rgba(20, 173, 33, 1));
    }

 /*-------------------------------------------------------------------
   #HEADER
   -------------------------------------------------------------------*/



header{
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.148);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
     }
     

     .header--menuburger{
        width: 7vh;            
        height: 7vh;
        border-radius:  4px;
        cursor: pointer;            
        padding: 0.5rem;
        border-radius: 1rem; 
        box-shadow:  inset -9px -9px 9px rgba(255, 255, 255, 0.5),inset 9px 9px 9px rgba(110, 119, 134, 0.6);
        backdrop-filter: blur(10px);
        background: rgba(255, 255, 255, 0.1);
        -webkit-backdrop-filter: blur(10px);
        border: none;
    }
    
    .header--menuburger:hover {
        opacity: 0.01;        
    }

     .header--flex-container-links{ 
        display: flex;
        flex-direction: column; 
        gap: 6px;}
        
        
     
/* -----------------------BUTTONS------------------------------ */


        .header--btn{text-decoration: none;
                     color: rgb(255, 255, 255);
                     background-color: rgb(255, 255, 255);
                   
                    padding: 0.5rem;
                    border-radius: 1rem; 
                    /* gap: 10px; */
                    box-shadow:  inset -9px -9px 9px rgba(255, 255, 255, 0.5),inset 9px 9px 9px rgba(110, 119, 134, 0.6);
                    backdrop-filter: blur(10px);
                    background: rgba(255, 255, 255, 0.1);
                    -webkit-backdrop-filter: blur(10px);
                     border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                     font-family: "nNungo", sans-serif;
                     font-size: 1.8vh;
                     font-weight: 700;
                     font-style: normal;}

        .header--btn_signup{
                   border-radius:  4px;
                   color: black;
               }

        .header--btn_login{
           }


 

       
             

 /*-------------------------------------------------------------------
   #MAIN
   -------------------------------------------------------------------*/

main{ flex: 1;}



.container_text{
    
    padding: 20px;}
    
    h1{padding: 5%;
        margin-top: 6vh;
        color: white;
        font-size: 4.8vh;
        font-family: "nNungo", sans-serif;
        font-weight: 700;
        font-style: normal;
    

    }

    p{
        padding: 8px;
        color: white;
        font-family: "nNungo", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
   








  
             
.card{height: 11vh;
    width: 30vh;
    padding: 10px;
    margin-left: 80px;
    justify-content: center;
    background-color: #dce2ea29;
     border-radius:  4px;
    box-shadow: 9px 9px 16px rgba(110, 119, 134, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
   }
    


   h2{font-size: 10px, 1.5vh, 4rem;}
    
   .card_title{padding: 10px;
        justify-content: center;
        font-size: 4vh;
        font-family: "nNungo", sans-serif;
        font-weight: 700;
        font-style: normal;
        padding: 0px;
        margin: 0px;
        
     }

     .card_text{
        font-size: 4vh;
        font-family: "nNungo", sans-serif;
        font-weight: 700;
        font-style: normal;
        padding: 0px;
        margin: 0px;
     }








.container-btn{
    
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    margin-bottom: 2vh;
   }

      






 /*-------------------------------------------------------------------
   #FOOTER
   -------------------------------------------------------------------*/
     
footer{
    padding-bottom: 2vh; 
    }
    

    .footer_container{
        margin-left: 25px;
        margin-right: 25px;
        display: flex;
        justify-content: space-around;
    }

    .footer_mentionlegale{
        margin: 2vh;
        display: flex;
        justify-content: space-around;
        
    }

    .footer_mentionlegale--text{
        text-decoration: none;
        
        font-family: "nNungo", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
